.from-scale {
  transform-origin: top left;
  animation: from-scale 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.to-scale {
  transform-origin: top left;
  animation: to-scale 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

.from-scale.bounce {
  transform-origin: top left;
  animation: from-scale 0.5s cubic-bezier(0.2, 0.9, 0.1, 1.1);
}

.to-scale.bounce {
  transform-origin: top left;
  animation: to-scale 0.5s cubic-bezier(0.2, 0.9, 0.1, 1.1);
}

@keyframes from-scale {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(var(--pos-x), var(--pos-y)) scale(var(--scale-x), var(--scale-y));
  }
}

@keyframes to-scale {
  from {
    opacity: 0;
    transform: translate(var(--pos-x), var(--pos-y)) scale(var(--scale-x), var(--scale-y));
  }
  to {
    opacity: 1;
  }
}
